@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */


:root{
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue:hsl(240, 73%, 65%);
  --soft-red: hsl(14, 88%, 65%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
}

main{
  display: flex;
  flex-direction: row;
  
  width: 955px;
  height: 530px;
  
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
  
  border-radius: 25px;
}

.left,
.rigth,
.wrapper{
  position: relative;
  
  width: 477.5px;
  height: 529px;
}

.rigth{
  padding: 80px 90px 0px 24px;
}

h1{
  color: hsl(238, 29%, 16%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  
  padding-bottom: 30px;
}

.content{
  border-bottom: 2px solid hsl(240, 5%, 91%);
  height: 60px;

  overflow: hidden;
}

.content.show{
  height: fit-content;
}

.content.show .questions{ 
  font-weight: 700;
}

.questions{
  padding: 20px 0;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  color: hsl(237, 12%, 33%);
  font-size: 15px;

  cursor: pointer;
}

.questions:is(:hover, :focus){
  color: var(--soft-red);
}

.deg.off{ 
  transition: .25s;
}

.deg.on{ 
  transition: .25s;
  rotate: 180deg;
}

.answers{
  overflow: hidden;

  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
  color:  hsl(240, 6%, 50%);
  

  padding: 0 0 20px 0;
}

.wrapper{
  overflow: hidden;
}

#woman{
  position: absolute;
  right: 72px;
  top: 74px;
  
  width: 490px;
  height: 375px;
  
  z-index: 9999;
}

#bg{
  position: absolute;
  right: 72px;
  top: -290px;

  width: 990px;
  height: 956px;
  
  z-index: 0;
}

#box{
  position: absolute;
  left: -120px;
  bottom: 126px;
  
  z-index: 999999;
}

@media screen and (max-width:375px){
  main{
    flex-direction: column ;
    width: 328px;
    height: 535px;
  }
}